<div class="register-container">

    <div class="image-section">
        <img class="player-img" src="assets/images/registro_img.jpg" alt="jugador">
    </div>

    <div class="form-section">
        <form #registroForm="ngForm" (ngSubmit)="registrar()" class="form-wrapper">
            <!-- Nombre -->
            <div class="input-group">
                <label>NOMBRE:</label>
                <input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" #nombreInput="ngModel" required>
                <div *ngIf="nombreInput.invalid && nombreInput.touched" class="error">Nombre requerido</div>
            </div>

            <!-- Apellidos -->
            <div class="input-group">
                <label>APELLIDOS:</label>
                <input type="text" [(ngModel)]="apellidos" name="apellidos" #apellidosInput="ngModel" required>
                <div *ngIf="apellidosInput.invalid && apellidosInput.touched" class="error">Apellidos requeridos</div>
            </div>

            <!-- Correo -->
            <div class="input-group">
                <label>CORREO:</label>
                <input type="email" [(ngModel)]="nuevoUsuario.correo" name="correo" #correoInput="ngModel" placeholder=""
                    required email>
                <div *ngIf="correoInput.invalid && correoInput.touched" class="error">Email inválido</div>
            </div>

            <!-- Contraseña -->
            <div class="input-group">
                <label>CONTRASEÑA:</label>
                <input type="password" [(ngModel)]="nuevoUsuario.password" name="password" #passwordInput="ngModel" required>
                <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">Contraseña requerida</div>
            </div>

            <div class="button-group">
                <button type="submit" class="btn-gold" [disabled]="!registroForm.valid">REGISTRARSE</button>
                <button type="button" class="btn-gold" (click)="irALogin()">INICIAR SESIÓN</button>
            </div>

        </form>


    </div>

</div>