<div class="pedido-item">
  <div class="pedido-header">
    <h3>Pedido #{{ pedido.cod_ped }}</h3>
    <span class="estado" [ngClass]="pedido.estado">{{ pedido.estado }}</span>
  </div>
  <div class="pedido-details">
    <p><strong>Fecha:</strong><span class="datos"> {{ pedido.fecha | date:'dd/MM/yyyy' }}</span> </p>
    <p><strong>Total:</strong><span class="datos"> {{ pedido.total }}€</span></p>
  </div>
  <div class="pedido-acciones">
    <a [routerLink]="['/detalles-pedido', pedido.cod_ped]" class="btn-detalles">Ver Detalles</a>
    <button *ngIf="pedido.estado === 'pendiente'" (click)="onCancelar()" class="btn-cancelar">Cancelar Pedido</button>
  </div>
</div>