<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<header>
  <div class="top-bar">
    <span>ENVÍOS GRATIS PEDIDOS DE +100€</span>
  </div>

  <div class="header-main">
    <div class="header-col left"></div>

    <div class="header-col center">
      <a href="/" class="logo">GOLSTYLE</a>
    </div>

    <div class="header-col right">
      <a href="#"><i class="fas fa-search"></i></a>
      <a href="#"><i class="fas fa-shopping-cart"></i></a>
      <a href="login"><i class="far fa-user"></i></a>
    </div>
  </div>
</header>