<div id="contenedor-padre">
    <div class="titulo">
        <h1>CARRITO</h1>
    </div>

    <div *ngIf="!loggedIn" class="loggedIn">
        <p>Para acceder al carrito debes estar una sesion iniciada.</p>
        <div class="enlace">
            <a routerLink="/login" class="btn-gold">Iniciar Sesión</a>
        </div>
    </div>

    <div *ngIf="loading" class="loading">
        <div class="spinner"></div>
        <p>Cargando carrito...</p>
    </div>

    <div *ngIf="!loading && productos.length === 0 && loggedIn" class="carrito-vacio">
        <p>Tu carrito está vacío.</p>
    </div>

    <div *ngIf="!loading && productos.length > 0 && loggedIn" class="carrito-container">

        <div class="productos">

            <app-carrito-producto *ngFor="let producto of productos" [producto]="producto"
                (eliminar)="eliminarProducto($event)" (aumentar)="aumentarCantidad($event)"
                (disminuir)="disminuirCantidad($event)"></app-carrito-producto>

        </div>

        <div class="resumen">
            <h2>Totales del carrito</h2>

            <p><strong>Total:</strong> {{ total | currency:'EUR' }}</p>

            <button class="btn-comprar">COMPRAR</button>
        </div>

    </div>
</div>