<div class="login-container">
  <div class="image-section">
    <img src="assets/images/jugador.png" alt="Jugador" class="player-img" />
  </div>

  <div class="form-section">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="iniciarSesion()"
      class="form-wrapper"
    >
      <!-- Correo -->
      <div class="input-group">
        <label>CORREO:</label>
        <input type="email" formControlName="correo" />
        @if (loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched) {
          @if (loginForm.get('correo')?.hasError('required')) {
            <span class="error">El correo es obligatorio.</span>
          } @else if (loginForm.get('correo')?.hasError('email')) {
            <span class="error">El formato del correo no es válido.</span>
          }
        }
      </div>

      <!-- Contraseña -->
      <div class="input-group">
        <label>CONTRASEÑA:</label>
        <input type="password" formControlName="password" />
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          @if (loginForm.get('password')?.hasError('required')) {
            <span class="error">La contraseña es obligatoria.</span>
          } @else if (loginForm.get('password')?.hasError('minlength')) {
            <span class="error">La contraseña debe tener al menos 8 caracteres.</span>
          }
        }
      </div>


      <!-- Iniciar sesión -->
      <div class="button-group">
        <button type="submit" class="btn-gold" [disabled]="loginForm.invalid || cargando">
          @if (cargando) {
            <span class="spinner-pequeno"></span> PROCESANDO...
          } @else {
            INICIAR SESION
          }
        </button>

        <div id="googleButtonContainer">
          <asl-google-signin-button
            type="standard"
            size="large"
            theme="filled_black"
            width="320"
          ></asl-google-signin-button>
        </div>
        <!-- Ir al registro -->
        <button type="button" class="btn-gold" (click)="irARegistro()">
          CREAR CUENTA
        </button>
      </div>
    </form>
  </div>
</div>

@if (errorLogin()) {
  <div class="success-overlay">
    <div class="tarjeta-modal">
      <h1 class="titulo-dorado">Error</h1>
      <div class="divisor-dorado"></div>
      <p class="mensaje-exito">{{ errorLogin() }}</p>
      <div class="acciones">
        <button class="btn-gold" (click)="errorLogin.set('')">Entendido</button>
      </div>
    </div>
  </div>
}
