<link href="footer.component.css" rel="stylesheet">

<footer>
  <div class="footer-col left">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/320px-Flag_of_Spain.svg.png"
      alt="Bandera España" class="flag-img">
    <span>ESPAÑA (EUR) €</span>
  </div>

  <div class="footer-col center">
    <span>&copy; 2025 - GOLSTYLE</span>
  </div>

  <div class="footer-col right">
    <a href="https://www.instagram.com" target="_blank">
      <img src="assets/images/insta.png" alt="Instagram">
    </a>

    <a href="https://twitter.com" target="_blank">
      <img src="assets/images/x.png" alt="X Logo">
    </a>
  </div>
</footer>