<form [formGroup]="form" (ngSubmit)="enviar()" class="form-wrapper">

    <!-- Correo electrónico -->
    <div class="input-group">
        <label>CORREO:</label>
        <input type="email" formControlName="correo">
        <div *ngIf="form.get('correo')?.touched && form.get('correo')?.invalid" class="error">
            Correo inválido
        </div>
    </div>

<!-- Asunto del mensaje -->
    <div class="input-group">
        <label>ASUNTO:</label>
        <select formControlName="asunto">
            <option value="">Selecciona un asunto</option>
            <option value="consulta">Consulta</option>
            <option value="soporte">Soporte</option>
            <option value="comentarios">Comentarios</option>
            <option value="localizar-pedido">Localizar mi pedido</option>
            <option value="otros">Otros</option>
        </select>
        <div *ngIf="form.get('asunto')?.touched && form.get('asunto')?.invalid" class="error">
            Selecciona un asunto
        </div>
    </div>

    <!-- ID del pedido (solo si es asunto = Localizar mi pedido) -->
    <div class="input-group" *ngIf="form.get('asunto')?.value === 'localizar-pedido'">
        <label>ID DEL PEDIDO:</label>
        <input type="text" formControlName="idPedido">
        <div *ngIf="form.get('idPedido')?.touched && form.get('idPedido')?.invalid" class="error">
            ID del pedido requerido
        </div>
    </div>

    <!-- Mensaje de contexto -->
    <div class="input-group">
        <label>MENSAJE:</label>
        <textarea rows="5" formControlName="mensaje"></textarea>
        <div *ngIf="form.get('mensaje')?.touched && form.get('mensaje')?.invalid" class="error">
            Mensaje requerido
        </div>
    </div>

    <!-- Botón para enviar -->
    <div class="button-group">
        <button type="submit" class="btn-gold" [disabled]="form.invalid">ENVIAR</button>
    </div>

</form>