<h1 class="titulo-catalogo">CATÁLOGO</h1>

@if (loading()) {
<div class="loading">
    <p>Cargando Catálogo...</p>
</div>
}

@if (error()) {
<div class="error">
    <p>Ha ocurrido un error inténtelo más tarde.</p>
</div>
}

@if (!loading() && !error()) {
<div class="contenedor-catalogo">

    <aside class="panel-filtros">

        <!-- FILTROS PARA LAS LIGAS -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Ligas</span>
            </button>
            <div class="filtro-contenido" [class.abierto]="acordeones()['liga']">
                @for (liga of opciones.ligas; track liga) {
                <label class="opcion-filtro">
                    <input type="checkbox" [checked]="filtros().liga.includes(liga)"
                        (change)="aplicarFiltro('liga', liga)">
                    {{ liga }}
                </label>
                }
            </div>
        </div>

        <!-- FILTROS PARA LOS EQUIPOS -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Clubes</span>
            </button>
            <div class="filtro-contenido" [class.abierto]="acordeones()['equipo']">
                @for (equipo of opciones.equipos; track equipo) {
                <label class="opcion-filtro">
                    <input type="checkbox" [checked]="filtros().equipo.includes(equipo)"
                        (change)="aplicarFiltro('equipo', equipo)">
                    {{ equipo }}
                </label>
                }
            </div>
        </div>

        <!-- FILTROS PARA LAS SELECCIONES -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Selecciones</span>
            </button>
            <div class="filtro-contenido" [class.abierto]="acordeones()['seleccion']">
                @for (seleccion of opciones.selecciones; track seleccion) {
                <label class="opcion-filtro">
                    <input type="checkbox" [checked]="filtros().seleccion.includes(seleccion)"
                        (change)="aplicarFiltro('seleccion', seleccion)">
                    {{ seleccion }}
                </label>
                }
            </div>
        </div>

        <!-- FILTROS PARA LAS TEMPORADAS -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Temporada</span>
            </button>
            <div class="filtro-contenido" [class.abierto]="acordeones()['temporada']">
                @for (temp of opciones.temporadas; track temp) {
                <label class="opcion-filtro">
                    <input type="checkbox" [checked]="filtros().temporada.includes(temp)"
                        (change)="aplicarFiltro('temporada', temp)">
                    {{ temp }}
                </label>
                }
            </div>
        </div>

    </aside>

    <main class="seccion-productos">
        <div class="cuadricula-productos">
            @for (producto of productosAMostrar(); track producto.cod_cam) {
            <app-catalogo-producto [camiseta]="producto">
            </app-catalogo-producto>
            }
        </div>

        @if (totalPaginas() >= 1) {
        <div class="paginacion">
            <button class="btn-nav" [disabled]="paginaActual() === 1" (click)="cambiarPagina(paginaActual() - 1)">
                &laquo; Anterior
            </button>

            <div class="numeros-paginas">
                @for (pagina of paginasRango(); track pagina) {
                <button class="btn-pagina" [class.activo]="pagina === paginaActual()" (click)="cambiarPagina(pagina)">
                    {{ pagina }}
                </button>
                }
            </div>

            <button class="btn-nav" [disabled]="paginaActual() === totalPaginas()"
                (click)="cambiarPagina(paginaActual() + 1)">
                Siguiente &raquo;
            </button>
        </div>
        }
    </main>

</div>
}