<h1 class="titulo-catalogo">CATÁLOGO</h1>

<div class="contenedor-catalogo">

    <aside class="panel-filtros">

        <!-- LIGAS -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Ligas</span>
            </button>
            <div class="filtro-contenido">
                <label class="opcion-filtro" *ngFor="let liga of opciones.ligas">
                    <input type="checkbox" [checked]="filtros.liga === liga" (change)="aplicarFiltro('liga', liga)">
                    {{ liga }}
                </label>
            </div>
        </div>

        <!-- EQUIPOS -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Clubes</span>
            </button>
            <div class="filtro-contenido">
                <label class="opcion-filtro" *ngFor="let equipo of opciones.equipos">
                    <input type="checkbox" [checked]="filtros.equipo === equipo"
                        (change)="aplicarFiltro('equipo', equipo)">
                    {{ equipo }}
                </label>
            </div>
        </div>

        <!-- SELECCIONES -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Selecciones</span>
            </button>
            <div class="filtro-contenido">
                <label class="opcion-filtro" *ngFor="let seleccion of opciones.selecciones">
                    <input type="checkbox" [checked]="filtros.seleccion === seleccion"
                        (change)="aplicarFiltro('seleccion', seleccion)">
                    {{ seleccion }}
                </label>
            </div>
        </div>

        <!-- TEMPORADAS -->
        <div class="filtro-grupo">
            <button class="filtro-header">
                <span>Temporada</span>
            </button>
            <div class="filtro-contenido">
                <label class="opcion-filtro" *ngFor="let temp of opciones.temporadas">
                    <input type="checkbox" [checked]="filtros.temporada === temp"
                        (change)="aplicarFiltro('temporada', temp)">
                    {{ temp }}
                </label>
            </div>
        </div>

    </aside>

    <main class="seccion-productos">
        <div class="cuadricula-productos">
            <app-catalogo-producto 
            *ngFor="let producto of productos" 
            [camiseta]="producto">
            </app-catalogo-producto>
        </div>
    </main>

</div>