<div class="register-container">
  <div class="image-section">
    <img class="player-img" src="assets/images/registro_img.jpg" alt="jugador">
  </div>

  <div class="form-section">
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="form-wrapper">
      <div class="input-group">
        <label>NOMBRE:</label>
        <input type="text" formControlName="nombre">
      </div>

      <div class="input-group">
        <label>APELLIDO 1:</label>
        <input type="text" formControlName="ape1">
      </div>

      <div class="input-group">
        <label>APELLIDO 2 (OPCIONAL):</label>
        <input type="text" formControlName="ape2">
      </div>

      <div class="input-group">
        <label>CORREO:</label>
        <input type="email" formControlName="correo">
      </div>

      <div class="input-group">
        <label>CONTRASEÑA:</label>
        <input type="password" formControlName="password">
      </div>

      <div class="button-group">
        <button type="submit" class="btn-gold" [disabled]="registerForm.invalid">REGISTRARSE</button>
        <button type="button" class="btn-gold" (click)="onLoginRedirect.emit()">INICIAR SESIÓN</button>
      </div>
    </form>
  </div>
</div>