.producto {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    border-bottom: 1px solid #444;
    padding-bottom: 1.5rem;
    background-color: #121212;
}

.producto-imagen {
    max-width: 250px;
}

.producto-imagen img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-contenido {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
}

.info-textos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.info-textos p {
    margin: 1.2rem 0;
}

.acciones {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
}

.cantidad-control {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-cantidad {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #555;
    background-color: #222;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s ease;
}

.btn-cantidad:hover {
    background-color: #333;
}

.btn-eliminar {
    padding: 0.4rem 0.8rem;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn-eliminar:hover {
    background-color: #e60000;
}


@media ( width <= 670px) {

    .producto {
        flex-direction: column-reverse;
    }

    .producto .producto-imagen {
        display: flex;
        text-align: center;
        align-self: center;
    }

}