<div class="producto">
    <!-- Imagen del producto -->
    <div class="producto-imagen">
        <img [src]="producto.imagen" alt="{{ producto.nombre_camiseta }}">
    </div>

    <!-- Información del producto -->
    <div class="info">
        <div class="info-contenido">
            <div class="info-textos">
                <h2>{{ producto.nombre_camiseta }}</h2>
                <p><strong>Talla</strong>: {{ producto.talla }}</p>
                <p><strong>Precio unitario</strong>: {{ producto.precio | currency:'EUR' }}</p>
                <p><strong>Subtotal</strong>: {{ producto.precio * producto.cantidad | currency:'EUR' }}</p>
                <p><strong>Nombre personalizado:</strong>
                    {{ producto.nombre_personalizado ? producto.nombre_personalizado : 'Sin nombre' }}
                </p>

                <p><strong>Dorsal personalizado:</strong>
                    {{ producto.dorsal_personalizado ? producto.dorsal_personalizado : 'Sin dorsal' }}
                </p>
            </div>

            <!-- Acciones -->
            <div class="acciones">
                <div class="cantidad-control">
                    <button class="btn-cantidad" (click)="onDisminuir()" [disabled]="producto.cantidad <= 1">−</button>


                    <span>{{ producto.cantidad }}</span>
                    <button class="btn-cantidad" (click)="onAumentar()"
                        [disabled]="producto.cantidad >= producto.stock">+</button>
                </div>

                <button class="btn-eliminar" (click)="onEliminar()"><img src="/assets/images/delete-icon.svg"
                        alt=""></button>
            </div>
        </div>
    </div>
</div>